html {
    touch-action: manipulation;
}
.hehe {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
button {
    height: 40px;
    line-height: 40px;
    min-width: 70px;
    background-color: #eeeeee;
    border: 1px solid #aaa;
}